.footer {
    background-color: #0d5151f2;
    color: #ffffff;
}

.footer .section_padding {
    padding: 5rem 0rem 2rem;
}

.footer .sb_footer {
    display: flex;
    flex-direction: column;
}

.footer .sb_footer .sb_footer_links {
    padding-bottom: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    text-align: left;
    margin-bottom: auto;
}

.footer .sb_footer .sb_footer_links .sb_footer_links_div {
    width: 150px;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    color: white;
}

.footer .sb_footer .sb_footer_links .sb_footer_links_div h4 {
    font-size: 20px;
    font-weight: 600;
    line-height: 17px;
    margin-bottom: 0.9rem;
}

.footer .sb_footer .sb_footer_links .sb_footer_links_div p,
ul {
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    margin: 0.5rem 0;
    cursor: pointer;
    color: rgb(175, 175, 179);
}

.footer .sb_footer .sb_footer_links .sb_footer_links_div a {
    color: rgb(175, 175, 179);
    text-decoration: none;
}

.footer .sb_footer .sb_footer_links .sb_footer_links_div hr {
    color: white !important;
    width: 100%;
}

.footer .sb_footer .sb_footer_below {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin-top: 0.5rem;
}

.footer .sb_footer .sb_footer_below .sb_footer_below_links {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5px;
    padding-top: 1rem;
}

.footer .sb_footer .sb_footer_below .sb_footer_below_links p {
    font-size: 13px;
    line-height: 15px;
    margin-left: 2rem;
    color: white;
    font-weight: 600;
}

.iconLista {
    margin-left: -20px;
    padding-left: 0;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
}

.iconoLista li{
    margin-bottom: 4px
}

.iconLista a {
    background: #2d2d32;
    color: rgb(255, 255, 255);
    font-size: 10px;
    display: inline-block;
    line-height: 50px;
    transition: all .2s linear;
    width: 40px;
    height: 40px;
    margin-left: 8px;
    border-radius: 100%;
    background-color: #33353d
}

.iconLista a.facebook:hover {
    background: #3b5998;
}

.iconLista a.instagram:hover {
    background: #962596;
}

.iconLista a.twitter:hover {
    background: #55acee;
}