.Hnav {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 80px;
    padding: 1rem 3rem 1rem 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

.Hnav .Hnavlogo img {
    height: 50px;
    width: 150px;
}

.Hnav .Hnavlogo img:hover {
    transform: scale(1.2, 1.2);
}

.Hnav .HnavDiv {
    margin: auto;
}

.Hnav .HnavDiv .HnavList {
    height: 100%;
    width: 100%;
    color: rgba(3, 65, 28, 0.746);
    font-size: 0.8rem;
    margin-left: 800px;
}

.Hnav .HnavDiv .HnavList li {
    display: inline-block;
    text-align: right;
}

.Hnav .HnavDiv .HnavList li:hover {
    color: rgb(71, 149, 65);
}

.Hnav .HnavDiv .HnavList .HnavItem {
    height: 100%;
    padding-right: 30px;
    margin: auto;
    list-style: none;
    padding-top: 10px;
}

.Hnav .HnavDiv .HnavList .HnavItem .HnavLink {
    line-height: 50px;
    text-decoration: none;
    color: black;
}

.Hnav .HnavDiv .HnavList .HnavItem .HnavLink .HnavButton {
    font-size: 0.8rem;
    font-weight: bold;
    width: 150px;
    padding: 0 50px;
    line-height: 35px;
    border: 2px solid #77DD77;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #77DD77;
    background-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 0.3s ease;
    transition: background-color 0.3s ease;
}

.Hnav .HnavDiv .HnavList .HnavItem .HnavButton:hover {
    background-position: 0%;
    background-color: #77DD77;
    color: #fff;
}






/* .Hdropdown {
    display: none;
    text-align: left;
    position: absolute;
    top: 75px;
    width: 150px;
    list-style: none;
    background-color: rgb(247, 247, 247);
    border-radius: 0 3% 3% 3%;
    padding-left: 10px;
}

.HdropdowsItem {
    padding-top: 5px;
}

.HdropLink {
    text-decoration: none;
    color: black;
}

.HnavItem:hover .HnavLink {
    color: #3b5999;
}

.HnavItem:hover>ul {
    display: block;
}

.HdropdowsItem:hover .HdropLink {
    color: #3b5999;
}

.HdropdowsItem:hover>ul {
    display: block;
} */