.Hnav {
    background-color: rgba(0, 238, 255, 0.393);
    width: 100%;
    height: 100px;
    padding: 1rem;
    display: flex;
    align-items:end;
    /* z-index: 1000; */
}
.Hnavlogo img{
    height: 80px;
    width: 80px;
}
.HnavDiv{
    height: 80px;
    margin: auto;
}
.HnavList{
    height: 100%;
    width: 100%;
    display: flex;

}
.HnavItem{
    height: 100%;
    padding-right: 40px;
    margin: 0;
    list-style: none;
    padding-top: 10px;
}
.HnavLink{
    line-height: 50px;
    text-decoration: none;
    color: black;
}

.Hdropdown{
    display: none;
    text-align: left;
    position: absolute;
    top: 75px;
    width: 150px;
    list-style: none;
    background-color: rgb(247, 247, 247);
    border-radius: 0 3% 3% 3%;
    padding-left: 10px;
}
.HdropdowsItem{
    padding-top: 5px;
}
.HdropLink{
    text-decoration: none;
    color: black;
}
.HnavItem:hover .HnavLink{
    color: #3b5999;
}
.HnavItem:hover > ul{
    display: block;
}
.HdropdowsItem:hover .HdropLink{
    color: #3b5999;
}
.HdropdowsItem:hover > ul{
    display: block;
}